body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.img-apod{
    width: 300px;
}
.content {
    position: relative;
    top:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}